body{
    background-image: url('dark_wood.png');
}

p{
    font-weight: bold;
    font-family: "Arial"; 
    color: white;
    /*word-break: keep-all; /*new*/
}

h3{
    font-size: 40px;
    font-family: "Passion One"; 
    color: #FFBC00;
    margin-bottom: 0px;
    /*text-shadow: 2px 2px grey; /*new*/
}

a{
    color: white; 
    font-weight: bold; 
    font-size: 24px;
}

ul{
    list-style-type: none;
    padding-left: 0px;
}

div{
    background-color: #8E41D5;
    /*line-height: 20px; /*new*/
}

#bow {
    color: #FFBC00;
}

#Header{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: solid 8px black;
    text-align: center;
    /*z-index: inherit; /*new*/
}

#Header h1{
    font-size: 60px; 
    font-family: "Passion One"; 
    color: #FFBC00; 
    font-weight: bold;
}

#LeftNav{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: solid 8px black;
    float: left;
    text-align: center;
    padding-bottom: 8px;
}

#LeftNav img{
    
}

#LeftNav ul{
    
}

#LeftNav h3{
    
}

#Content{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: solid 8px black;
    text-align: center;
    padding: 15px;
}

#Footer{
    border: solid 8px black;
    text-align: center;
    /*opacity: 0.9; /*new*/
}